<form [formGroup]="formGroup">

  <div formArrayName="activities" class="activity-list">

    <div class="activity" *ngFor="let currentActivityGroup of activityGroups; let i = index" [formGroupName]="i">
      <div class="form-row">
        <div class="control-group">
          <label>Tevékenység neve</label>
          <input pInputText formControlName="name">
        </div>
      </div>

      <div class="form-row">
        <div class="control-group textarea-group">
          <label>Tevékenység leírása</label>
          <textarea pInputTextarea formControlName="description" [rows]="6"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="control-group">
          <label>Kezdés dátuma</label>
          <p-calendar formControlName="startDate" yearRange="1930:2021" [yearNavigator]="true" [monthNavigator]="true" dateFormat="yy.mm.dd."></p-calendar>
        </div>
        <div class="control-group">
          <label>Kilépés dátuma</label>
          <p-calendar formControlName="endDate" yearRange="1930:2021" [yearNavigator]="true" [monthNavigator]="true" dateFormat="yy.mm.dd."></p-calendar>
        </div>
      </div>
    </div>

  </div>

</form>
